body{
    background-color: #334;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    display: grid;
    grid-template-rows: auto auto 1fr auto 3fr;
    overflow-y: hidden;
    height: 100vh;
}

section{
    overflow-y: auto;
}

#input{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

#pre_guesses{
    display: flex;
    flex-flow: row nowrap;
    justify-content: end;
    gap: 1rem;
}

.guess p{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
}

.guess .yellow_guess{
    background-color: #fcd53f;
}

.guess .green_guess{
    background-color: #00d26a;
}

#current_guess{
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(6, 1.5rem);
    row-gap: 1rem;
}

#current_guess label{
    font-size: 1.5rem;
}

#current_guess input[type="text"]{
    height: 2rem;
    width: 2rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    border: none;
    margin-right: 1rem;
    text-align: center;
}

#current_guess input[type="radio"]{
    display: none;
}

#current_guess input[type="radio"]:checked + label{
    text-shadow: 2px 2px 3px white, -2px 2px 3px white, 2px -2px 3px white, -2px -2px 3px white;
}

#current_guess button{
    border: solid white 2px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    transition: transform 100ms, box-shadow 100ms, filter 50ms;
}

#current_guess button:hover{
    transform: translate(2px, -2px);
    box-shadow: -4px 4px 1px white;
}

#current_guess button:active{
    filter: brightness(0.8);
    transform: translate(1px, 0px);
    box-shadow: -2px 0px 1px white;
}

.section_label{
    font-size: 1.5rem;
    margin: 0;
    margin-top: 0.5rem;
    border-bottom: solid white 2px;
}

section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
}

.styled_scrollbar {
    /* Foreground, Background */
    scrollbar-color: white rgba(255, 255, 255, 0.3);
}
.styled_scrollbar::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
}
.styled_scrollbar::-webkit-scrollbar-thumb { /* Foreground */
    background: white;
}
.styled_scrollbar::-webkit-scrollbar-track { /* Background */
    background: rgba(255, 255, 255, 0.3);
}